*{
    margin: 0;
    padding: 0;
}
/* settings fo georama heading */
.georama-heading {
    font-family: "Georama", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  /* for mobile devices */
@media screen and (max-width:600px){
    body{
       /* border: 1px solid white;*/
        background-color: #202124;
        height: 100vh;
        width:98vw;
    }

    nav{
       /* border: 1px solid yellow;*/
        display: flex;
        height: 6vh;
        justify-content: space-between;
        padding: 4px;
        margin: 4px;
        margin-bottom:20px;
        
    }
    h2{
       /* border: 1px solid yellowgreen;*/
        color: white;
        font-family: "Georama";
        padding: 2px;
        margin:1px;
        width: 24%;
        text-align: left;
        font-weight: 500;
        padding-top: 6px;
    }
    a{
        /*border: 1px solid yellowgreen;*/
        text-decoration: none; 
        color:white;
        display: inline-block;
        padding: 3px;
        margin: 2px;
        width:15%;
        text-align: center;
        padding-top: 6px;
    }
    h1{
       /* border: 1px solid yellowgreen;*/
        padding: 5px;
        margin :2px;
        margin-bottom: 10px;
        color: #f35959e7;
        font-size: large;

    }
    hr{
        border: 1px solid black;
        margin-bottom: 20px;
    }

    form{
       /* border: 1px solid yellowgreen;*/
        padding: 10px;
        margin: 2px;
        height: 88vh;
    }
    .head{
       /* border: 1px solid yellow;*/
        color:white;
        padding: 5px;
        margin: 5px;
        margin-bottom: 15px;
        font-weight: 500;
        
    }
    .two{
        display: none;
    }

    .fields{
       /* border:1px solid yellow;*/
        padding: 7px;
        margin-bottom: 10px;
        height: 52vh;
        display: grid;
        grid-template: repeat(4,12%)/41vh;
        row-gap: 10px;
        position: relative;


    }

    .querry{
        /*border: 1px solid yellowgreen;*/
        color: whitesmoke;
        padding:5px;
        
    }
    .instruct{
        display: none;
    }
    .label{
       /* border:1px solid yellow;*/
        padding:4px;
        display: inline-block;
        width: 43%;
        text-align: left;
        margin-right: 5px;
        font-size: 12px;
    }
    .box{
        all:unset;
        border:1px solid purple;
        display: inline-block;
        padding: 3px;
        color: white;
        width:45%;
    }

    .submit{
       /* border:1px solid yellow;*/
        position: relative;
        height:35px;
        width:85%;
        top:-12%;
        left:7%;
        margin: 2px;
        padding: 7px;
        text-align:end;
    }
    .sub{
        all:unset;
        border: 1px solid black;
        background-color: rgb(172, 189, 244);
        color: #202124;
        padding: 3px;
        

    }
    footer{
        /*border: 1px solid yellowgreen;*/
        height: 3vh;
        color:white;
        padding: 5px;
        margin-top: 2px;
        
    }
}

/* for tablet and ipads */
@media screen and (min-width:601px) and (max-width:1050px){

    body{
        /*border: 1px solid white;*/
        background-color: #202124;
        height: 100vh;
        width:98vw;
    }
    nav{
       /* border: 1px solid yellow;*/
        display: flex;
        height: 6vh;
        justify-content: space-between;
        padding: 5px;
        margin: 2px;
        margin-bottom:20px;
        
    }
    h2{
        /*border: 1px solid yellowgreen;*/
        color: white;
        font-family: "Georama";
        padding: 2px;
        padding-top: 12px;
        margin:2px;
        width: 23%;
        text-align: left;
        font-weight: 500;
        font-size: 26px;
    }
    a{
       /* border: 1px solid yellowgreen;*/
        text-decoration: none; 
        color:white;
        display: inline-block;
        padding: 3px;
        padding-top: 12px;
        margin: 2px;
        width:15%;
        font-size: 24px;
        text-align: center;
    }
    h1{
       /* border: 1px solid yellowgreen;*/
        padding: 5px;
        margin :2px;
        margin-bottom: 10px;
        color: #f35959e7;
        font-size: xx-large;

    }
    hr{
        border: 2px solid black;
        margin-bottom: 20px;
    }
    form{
       /* border: 1px solid yellowgreen;*/
        padding: 10px;
        margin: 2px;
        height: 80vh;
    }
    .head{
       /* border: 1px solid yellow;*/
        color:white;
        padding: 5px;
        margin: 5px;
        margin-bottom: 15px;
        font-weight: 500;
        font-size: x-large;
        
    }
    .two{
        display: none;
    }
    .fields{
       /* border:1px solid yellow;*/
        padding: 7px;
        margin-bottom: 10px;
        height: 52vh;
        display: grid;
        grid-template: repeat(4,12%)/70vh;
        row-gap: 12px;
        position: relative;


    }
    .querry{
        /*border: 1px solid yellowgreen;*/
        color: whitesmoke;
        padding:5px;
        
    }
    .instruct{
        display: none;
    }
    .label{
        /*border:1px solid yellow;*/
        padding:4px;
        display: inline-block;
        width: 43%;
        height:45%;
        text-align: left;
        margin-right: 5px;
        font-size: 24px;
    }
    .box{
        all:unset;
        border:1px solid purple;
        display: inline-block;
        padding: 5px;
        color: white;
        width:50%;
        height: 45%;
        font-size: 20px;
    }
    .submit{
       /* border:1px solid yellow;*/
        position: relative;
        height:35px;
        width:90%;
        top:-12%;
        left:5%;
        margin: 2px;
        padding: 7px;
        text-align:end;
    }
    .sub{
        all:unset;
        border: 1px solid black;
        background-color: rgb(172, 189, 244);
        color: #202124;
        padding: 5px;
        margin-left: 4px;
        

    }
    footer{
       /* border: 1px solid yellowgreen;*/
        height: 3vh;
        color:white;
        padding: 5px;
        margin-top: 2px;
        
    }


}
/* for desktop , laptops, and pc */
@media screen and (min-width:1051px){
    body{
       /* border: 1px solid white;*/
        background-color: #202124;
        height: 100vh;
        width:98vw;
    }
    nav{
       /* border: 1px solid yellow;*/
        display: flex;
        height: 6vh;
        justify-content: space-between;
        padding: 5px;
        padding-top: 10px;
        margin: 2px;
        margin-bottom:20px;
        
    }
    h2{
        /*border: 1px solid yellowgreen;*/
        color: white;
        font-family: "Georama";
        padding: 2px;
        margin:2px;
        width: 20%;
        text-align: left;
        font-weight: 500;
        padding-top: 6px;
        font-size: 26px;
    }
    a{
       /* border: 1px solid yellowgreen;*/
        text-decoration: none; 
        color:white;
        display: inline-block;
        padding: 3px;
        padding-top: 12px;
        margin: 2px;
        width:15%;
        text-align: center;
    }
    h1{
       /* border: 1px solid yellowgreen;*/
        padding: 5px;
        margin :2px;
        margin-bottom: 10px;
        color: #f35959e7;
        font-size: x-large;

    }
    hr{
        border: 2px solid black;
        margin-bottom: 20px;
    }
    form{
       /* border: 1px solid yellowgreen;*/
        padding: 10px;
        margin: 2px;
        height: 80vh;
    }
    .head{
       /* border: 1px solid yellow;*/
        color:white;
        padding: 5px;
        margin: 5px;
        margin-bottom: 15px;
    
        
    }
    .fields{
       /* border:1px solid yellow;*/
        padding: 7px;
        margin-bottom: 10px;
        height: 52vh;
        display: grid;
        grid-template: repeat(4,12%)/140vh;
        row-gap: 12px;
        position: relative;


    }
    .querry{
      /*  border: 1px solid yellowgreen;*/
        color: whitesmoke;
        padding:5px;
        
    }
    .label{
        /*border:1px solid yellow;*/
        padding:4px;
        display: inline-block;
        width: 30%;
        text-align: left;
        margin-right: 5px;
        font-size: 18px;
    }
    .one{
        /*border:1px solid yellow;*/
        padding:4px;
        display: inline-block;
        width: 25%;
        text-align: left;
        margin-right: 5px;
        font-size: 16px;
        font-weight: 600;
    }
    .box{
        all:unset;
        border:1px solid purple;
        display: inline-block;
        padding: 5px;
        color: white;
        width:37%;
        margin-right: 12px;
    }
    .Blank{
        all: unset;
       /* border:1px solid yellow;*/
        display: inline-block;
        padding: 5px;
        color: white;
        width:28%;
        margin-right: 12px;
    }
    .instruct{
        display: inline-block;
      /*  border:1px solid yellow;*/
        padding:4px;
        width: 28%;
        font-size: 16px;
        text-align: left;
    }
    .two{
        display: inline-block;
        /*border:1px solid yellow;*/
        padding:4px;
        width: 28%;
        padding-left: 15px;
        font-size: 16px;
        text-align: left;
        font-weight: 600;
    }
    .submit{
       /* border:1px solid yellow;*/
        position: relative;
        height:35px;
        width:90%;
        top:-12%;
        left:5%;
        margin: 2px;
        padding: 7px;
        text-align:end;
    }
    .sub{
        all:unset;
        border: 1px solid black;
        background-color: rgb(172, 189, 244);
        color: #202124;
        padding: 5px;
        margin-left: 4px;
        

    }
    footer{
       /* border: 1px solid yellowgreen;*/
        height: 3vh;
        color:white;
        padding: 5px;
        margin-top: 2px;
    }
    

}
  