*{
    margin: 0;
    padding: 0;

}


/* settings fo georama heading */
.georama-heading {
    font-family: "Georama", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

/* for mobile devices */
@media screen and (max-width:600px){
    body{
        background-color: #202124;
        height: 100vh;
        width:98vw;
    }
    nav{
         /*border: 1px solid yellow;*/
          height: 7vh;
          padding: 3px;
          display: flex;
          justify-content: end;
          margin: 2px;
          
       }
       nav a{
        color: white;
        text-decoration: none;
        /*border :1px solid yellow;*/
        font-size: 14px;
        padding: 3px;
        margin-right: 12px;
        margin-left: 10px;;
        display: inline-block;
        width: 25%;
        text-align: end;
      }
      main{
        /*border: 1px solid yellowgreen;*/
         height: 85vh;
         margin-bottom: 1px;
         display: flex;
         justify-content: center;
         align-items: center;
         position: relative;
       }
       h1{
        /*border:  1px solid yellow;*/
        font-family: "Georama";
        color: white;
        font-size:50px;
        position: relative;
        top: -12%;
        left: 30%;
        width: 50%;
        text-align: center;
      }
      h5{
       /*border: 1px solid yellow;*/
        position: relative;
        color: blue;
        font-family: "Georama";
        top: -8.5%;
        left: 18.5%;
        font-size: 11px;
        width: 15%;
      }
      form{
         /*border: 1px solid yellow;*/
          width: 50%;
          display:flex;
          flex-direction: column;
          position: relative;
          padding: 5px;
          right: 25%;
          top: 2%;
          height: 10%;
       }
       .bord{
        border: 1px solid cyan;
        box-sizing: border-box;
        padding-left: 2px;
        height:45px;
        background-color: #202124;
        border-radius:50px;
        margin-bottom: 10px;
        position: relative;
      }
      .bar{ 
         all:unset;
        /* border: 1px solid white;*/
         background-color: #202124;
         color: whitesmoke;
         font-size: 18px;
         margin: 1px;
         padding: 2px;
         height: 59%;
         width:68%;
         position: relative;
         top:-18%;
      
       
       }
       .bar:hover{
         background-color:#2d3033;
       }
       img{
        /* border: 1px solid yellow;*/
         margin-left: 6px;
         margin-top: 8px;
       }
       .b1{
        display: none;
      }
      .search{
        display: none;    
      }
      footer{
        /*border: 1px solid white;*/
         background-color: #202124;
         color: white;
         height: 1vh;
         display: block;
         padding: 10px;
         margin-top: 2px;
      }
}


/* for tablet and ipads */
@media screen and (min-width:601px) and (max-width:1050px)

{
    body{
        background-color: #202124;
        height: 100vh;
        width:98vw;
    }
    nav{
       /* border: 1px solid yellow;*/
         height: 7vh;
         padding: 3px;
         display: flex;
         justify-content: end;
         margin: 2px;
         
      }

      nav a{
        color: white;
        text-decoration: none;
       /*border :1px solid yellow;*/
        font-size: 14px;
        padding: 3px;
        margin-right: 12px;
        margin-left: 10px;;
        display: inline-block;
        width: 25%;
        text-align: end;
      }
      main{
        /*border: 1px solid yellowgreen;*/
         height: 85vh;
         margin-bottom: 1px;
         display: flex;
         justify-content: center;
         align-items: center;
         position: relative;
       }

       h1{
          /*border:  1px solid yellow;*/
          font-family: "Georama";
          color: white;
          font-size: 70px;
          position: relative;
          top: -12%;
          left: 29%;
          width: 50%;
          text-align: center;
        }
        h5{
            /*border: 1px solid yellow;*/
            position: relative;
            color: blue;
            font-family: "Georama";
            top: -8.5%;
            left: 14%;
            font-size: 14px;
            width: 15%;
          }
          form{
            /*border: 1px solid yellow;*/
             width: 50%;
             display:flex;
             flex-direction: column;
             position: relative;
             padding: 5px;
             right: 26%;
             top: 4%;
             height: 15%;
          }
          .bord{
            border: 1px solid cyan;
            box-sizing: border-box;
            padding-left: 2px;
            height:45px;
            background-color: #202124;
            border-radius:50px;
            margin-bottom: 15px;
            position: relative;
          }
          .bar{ 
            all: unset;
           /* border: 1px solid yellow;*/
            background-color: #202124;
            color: whitesmoke;
            font-size: 18px;
            margin: 1px;
            padding: 3px;
            height: 55%;
            width:70%;
            position: relative;
            top:-20%;
          }
          .bar:hover{
            background-color:#2d3033;
          }
          img{
           /* border: 1px solid yellow;*/
            margin-left: 5px;
            margin-top: 9px;
          }
          .b1{
            display: none;
          }
          .search{
            display: none;
          }
          footer{
           /* border: 1px solid white;*/
             background-color: #202124;
             color: white;
             height: 2vh;
             display: block;
             padding: 10px;
             margin-top: 2px;
          }
            
}
/* for desktop , laptops, and pc */
@media screen and (min-width:1051px)
{

    body{
        background-color: #202124;
        height: 100vh;
        width:98vw;
    }
    nav{
        /*border: 1px solid yellow;*/
         height: 7vh;
         padding: 5px;
         display: flex;
         justify-content: end;
         margin: 2px;
         
     }
     nav a{
        color: white;
        text-decoration: none;
       /*border :1px solid yellow;*/
        font-size: 18px;
        padding: 5px;
        margin-right: 12px;
        margin-left: 10px;;
        display: inline-block;
        width: 15%;
        text-align: end;
      }
      main{
        /*border: 1px solid yellowgreen;*/
        height: 85vh;
        margin-bottom: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    h1{
        /*border:  1px solid yellow;*/
        font-family: "Georama";
        color: white;
        font-size: 92px;
        position: relative;
        top: -15%;
        left: 28%;
        width: 50%;
        text-align: center;
    }
    h5{
       /*border: 1px solid yellow;*/
        position: relative;
        color: blue;
        font-family: "Georama";
        padding: 1px;
        top: -8%;
        left: 11%;
        font-size: 116%;
        width: 15%;
      }

    form{
        /*border: 1px solid yellow;*/
         width: 45%;
         display:flex;
         flex-direction: column;
         position: relative;
         padding: 5px;
         right: 28%;
         top: 5%;
         height: 15%;
     }
     .bord{
        border: 1px solid cyan;
        box-sizing: border-box;
        padding-left: 2px;
        height:45px;
        background-color: #202124;
        border-radius:50px;
        margin-bottom: 15px;
        position: relative;
      }
      .bar{ 
        all:unset;
       /* border: 1px solid yellow;*/
        background-color: #202124;
        color: whitesmoke;
        font-size: 18px;
        margin: 1px;
        padding: 5px;
        height: 60%;
        width:79%;
        position: relative;
        top:-15%;
      }
      .bar:hover{
        background-color:#2d3033;
    }
    img{
      /*border: 1px solid yellow;*/
      margin-left: 10px;
      margin-top: 8px;
    }
    .b1{
        display:none;
    }
    .search{
        display: none;
    }
    footer{
       /* border: 1px solid white;*/
         background-color: #202124;
         color: white;
         height: 2vh;
         display: block;
         padding: 10px;
         margin-top: 2px;
     }
}